*
!.gitignore
!/PROMPT_ASSEMBLER
!/STDIO_BRIDGE
!/CAD_EXE
!/CRASE
!/MD_RAG_COLAB

!/docs/
!/docs/*.*
!/docs/PROMPT_ASSEMBLER/
!/docs/PROMPT_ASSEMBLER/images/
!/docs/PROMPT_ASSEMBLER/images/*.*
!/docs/PROMPT_ASSEMBLER/001_example/
!/docs/PROMPT_ASSEMBLER/001_example/*.*

!/docs/PROMPT_ASSEMBLER/002_example/
!/docs/PROMPT_ASSEMBLER/002_example/*.*

